[submodule "dependencies/Pymacs"]
	path = dependencies/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "dependencies/auto-complete"]
	path = dependencies/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "dependencies/egg"]
	path = dependencies/egg
	url = https://github.com/bogolisk/egg.git
[submodule "dependencies/full-ack"]
	path = dependencies/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "dependencies/textmate"]
	path = dependencies/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "dependencies/js-beautify"]
	path = dependencies/js-beautify
	url = https://github.com/einars/js-beautify
[submodule "dependencies/js-beautify.el"]
	path = dependencies/js-beautify.el
	url = https://gist.github.com/712405.git
[submodule "dependencies/haml-mode"]
	path = dependencies/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "dependencies/rinari"]
	path = dependencies/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "dependencies/sass-mode"]
	path = dependencies/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "dependencies/yaml-mode"]
	path = dependencies/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "dependencies/scss-mode"]
	path = dependencies/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "dependencies/yasnippet"]
	path = dependencies/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "dependencies/mmm-mode"]
	path = dependencies/mmm-mode
	url = https://github.com/purcell/mmm-mode.git
[submodule "dependencies/html5-el"]
	path = dependencies/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "dependencies/rake-completion"]
	path = dependencies/rake-completion
	url = https://github.com/ai/rake-completion.git
[submodule "dependencies/rspec-mode"]
	path = dependencies/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "dependencies/ack-and-a-half"]
	path = dependencies/ack-and-a-half
	url = https://github.com/jhelwig/ack-and-a-half.git
[submodule "dependencies/yafolding"]
	path = dependencies/yafolding
	url = https://github.com/zenozeng/yafolding.el.git
[submodule "dependencies/helm-css-scss"]
	path = dependencies/helm-css-scss
	url = https://github.com/ShingoFukuyama/helm-css-scss.git
