"*":
  Rdio:
    "showEqualizer (WindowResizePerformanceIssue )": false
  aligner:
    ":-alignment": "left"
  "atom-beautify":
    css:
      convert_quotes: "single"
      newline_between_rules: true
    general:
      _analyticsUserId: "b38a6e06-84e0-43a1-9c53-cdebc39b734b"
      analytics: false
    json:
      default_beautifier: "Prettier"
  "autocomplete-plus":
    autoActivationDelay: 500
    includeCompletionsFromAllBuffers: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    customFileTypes:
      ".scratchpad": [
        "gfm"
      ]
    disabledPackages: [
      "select-rectangle"
      "Rdio"
      "incremental-search"
      "linter-jshint"
      "github"
      "linter-rubocop"
      "ide-sorbet"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "*~"
      ".git"
      "node_modules"
      ".yardoc"
      "tmp"
      "log"
      "tags"
      "public/system"
      ".tmp"
      ".eslintcache"
      "dist"
      "build"
      ".bundle"
      "config/commit"
      "db/*.sqlite3"
      "coverage"
      "*.rbc"
      "*.DS_Store"
      "dump.rdb"
      "*.swp"
      "Dockerfile.kube_gen"
      "generated-apps"
      "build/"
      "app/schemas/_xrepo/"
      "sorbet"
    ]
    packagesWithKeymapsDisabled: [
      "rails-transporter"
      "git-blame"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Inconsolata"
    fontSize: 17
    invisibles: {}
    normalizeIndentOnPaste: false
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "emacs-mode":
    addToKillRingOnSelect: true
    hideSidebar: false
    hideTabs: false
    useEmacsCursor: false
    useFuzzyBufferFinder: false
    useFuzzyFileFinder: true
  "exception-reporting":
    userId: "e81e63e6-e4de-65f8-aac8-4a364814f045"
  "fuzzy-finder":
    preserveLastSearch: true
    scoringSystem: "fast"
    useRipGrep: true
  github:
    graphicalConflictResolution: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint": {}
  "linter-rubocop": {}
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-ui-default":
    panelHeight: 172
    showPanel: true
  "merge-conflicts": {}
  metrics:
    userId: "6d87f910b8997c90643ccb80290f722d323e36cb"
  minimap:
    displayCodeHighlights: false
  "rails-transporter": {}
  "spell-check":
    useLocales: false
  "travis-ci-status":
    personalAccessToken: "f2f7f096460400b0864bc68a10d4b425cfb17e03"
    useTravisCiPro: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".haml.text":
  editor:
    autoIndentOnPaste: false
    normalizeIndentOnPaste: "false"
".hamlc.text":
  editor:
    autoIndentOnPaste: false
    normalizeIndentOnPaste: "false"
